/*
ul{
    font-size: 24px;
    color: red;
    list-style: none;
    float: right;

}

li{
    display: inline-block;
   text-decoration: none;
    
}

li a{
    text-decoration: none;
}

.first{
    color: blue;
}

#second{
    color: brown
}

.third{
    color: crimson
}

.last{
    color: blueviolet;
}

.image{
    width: 200px;
    height: auto;
    border-radius: 7px;
    margin: 60px;
    padding: 10px;
        
}
*/

/*
table{
    margin: 14px;
    padding: 7px;
    border: 5px solid black;
}
*/
    
    
    
    
    
    
    
    
    
    
    
    
